[submodule "Jay"]
	path = Jay
	url = https://github.com/zill4/Jay
[submodule "CinaView"]
	path = CinaView
	url = https://github.com/zill4/CinaView
[submodule "CupetStreetShelter_Capsule"]
	path = CupetStreetShelter_Capsule
	url = https://github.com/zill4/CupetStreetShelter_Capsule
[submodule "Choice_Capsule"]
	path = Choice_Capsule
	url = https://github.com/zill4/Choice_Capsule
[submodule "AlphaSpread_Capsule"]
	path = AlphaSpread_Capsule
	url = https://github.com/zill4/AlphaSpread_Capsule
[submodule "Fortnite_Guide_Capsule"]
	path = Fortnite_Guide_Capsule
	url = https://github.com/zill4/Fortnite_Guide_Capsule
[submodule "BixbyDungeonMaster"]
	path = BixbyDungeonMaster
	url = https://github.com/zill4/BixbyDungeonMaster
